/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>

/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>

#define DEFAULT 0
#define COLEMAK 1
#define NUM     2
#define SYM     3
#define FUN     4

#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
            timeout-ms = <200>;
            layers = <0>;
        };

        Bs {
            bindings = <&kp BSPC>;
            key-positions = <8 9>;
            timeout-ms = <200>;
            layers = <0>;
        };

        Win {
            bindings = <&kp LCMD>;
            key-positions = <32 31>;
            timeout-ms = <200>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QWRT";
            bindings = <
      &kp Q        &kp W      &kp E    &kp R     &kp T            &kp Y  &kp U      &kp I    &kp O      &kp P
      &kp A        &kp S      &kp D    &kp F   &lt 2 G          &lt 2 H  &kp J      &kp K    &kp L   &kp SEMI
      &kp Z        &kp X      &kp C    &kp V     &kp B            &kp N  &kp M  &kp COMMA  &kp DOT  &kp RSHFT
  &kp LG(E)  &lt 1 SPACE  &kp SPACE  &kp RET  &kp BSPC  &kp LC(LS(ESC))
            >;

            sensor-bindings = <&inc_dec_kp RIGHT LEFT &inc_dec_kp UP DOWN>;
        };

        layer_1 {
            bindings = <
  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7     &kp N8     &kp N9  &kp BSPC
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp MINUS  &kp EQUAL    &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans    &trans
  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
  &trans          &trans  &kp UP_ARROW           &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &kp LEFT_ARROW      &kp DOWN  &kp RIGHT_ARROW  &trans  &trans  &trans  &trans  &trans  &trans
  &trans          &trans        &trans           &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans          &trans        &trans           &trans  &trans  &trans
            >;
        };
    };
};
